name: Compile GraalVM lambda
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'      # See 'Options' for more details
          distribution: 'graalvm' # See 'Supported distributions' for available options
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Example step
        run: |
          echo "GRAALVM_HOME: $GRAALVM_HOME"
          echo "JAVA_HOME: $JAVA_HOME"
          java --version
          native-image --version
      - name: Compile using Maven plugin  # https://graalvm.github.io/native-build-tools/latest/maven-plugin.html
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          TABLE_NAME: lambda_benchmark
        run: |
          cd lambda/graalvm/GraalVMLambda
          AWS_REGION=eu-west-2 mvn -Pnative package
      - uses: actions/upload-artifact@v4
        with:
          name: target
          path: lambda/graalvm/GraalVMLambda/target/